* {
  margin: 0;
  padding: auto;
  text-decoration: none;
}

.redes_sociais {
  text-align: center;
  background-color: #fad75d;
  /* width: 60%; */
  /* margin: 0 auto; */
  /* margin-bottom: 20px; */
  /* border-radius: 20px; */
  padding: 15px;
}

.tituloRedes {
  color: white;
}
.nome {
  font-size: larger;
  margin-top: 10px;
}

.logoRedes {
  width: 25px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  /* display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  flex-direction: row; */
}
.redes {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.texto_apresentacao {
  font-family: "Asap Condensed", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

a {
  color: white;
}

body {
  /* background-color: #f9f9f1; */
  background-color: #fffeff;
}

h4 {
  font-family: "Asap Condensed", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
}

.depoimento_cliente {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
}

img {
  width: 180px;
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin-bottom: 20px;
}

.texto_video_clientes {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Abel", sans-serif;
}

.zap {
  width: 25px;
  margin: 0 auto;
}

.descricao {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 120px;
}

h2 {
  font-size: 19px;
}

.img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

/* textos */

._textos_argumento_kit {
  font-family: "Asap Condensed", sans-serif;
  font-size: 22px;
  color: #343434;
}

.complemento_argumento {
  font-family: "Abel", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
}

.subtitulo_argumento {
  font-family: "Abel", sans-serif;
  font-size: 20px;
  text-align: center;
}

.descricao_trabalho {
  font-family: "Asap Condensed", sans-serif;
  color: white;
  font-size: 20px;
}

.trabalho_ {
  font-family: "Fira Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.texto_titulo_argumento {
  margin-top: 15px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
}

.bold {
  font-weight: bolder;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.texto_acompanhamento {
  font-family: "Fira Sans", sans-serif;
  flex-direction: column;
}

p {
  font-family: "Abel", sans-serif;
  text-align: center;
  font-size: 20px;
}

.texto_carrossel {
  display: flex;
  justify-content: center;
  font-family: "Fira Sans", sans-serif;
}

.texto_green,
.texto_white {
  font-family: "Asap Condensed", sans-serif;
  font-size: 20px;
}

.buy_kit {
  font-family: "Asap Condensed", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;

  color: #f9f9f1;
}

.sub_buy_kit {
  font-family: "Abel", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
}
.texto_teste {
  color: #f9f9f1;
  margin-left: 20px;
  font-family: "Abel", sans-serif;
}

.conteudo_kit {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  font-family: "Asap Condensed", sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
}

.Sub_titulo_venda {
  justify-content: center;
  text-align: center;
  margin: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* responsividade mobile */
